@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'FoundersGrotesk';
    src: url(./assets/FoundersGrotesk-Semibold.ttf);
  }